body{
    background-color: #191625;
}
.result{
    color: aquamarine;
    text-align: center;
    font-size: 4rem;
    font-family: 'Lobster', cursive;
}
.container{
    /* position: relative; */
    text-align: center;
    width: 80%;
    height: 500px;
    margin: auto;
    
}
.player{
    /* background-color: #7c3d3d; */
    display: inline-block;
    width: 356px; 
    /* height: 300px;
    /* position: absolute;  */
    margin: auto;
    
    

}
.player h2{
    color: aquamarine;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    /* margin-right: 10vw;  */
}
.player img{
    
    width: 50%;
    display: block;
    margin: auto;
    /* position: relative; */
    /* top:40px ;
    left: 30%; 
    display: block;
    margin: auto;
}
.player{
    /* background-color: #36915f; */
    /* display: inline-block;
    width: 50%;
    height: 300px;
    position: absolute;
    left: 50%; */
}
/* .player h2{
    color: aquamarine;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-left: 10vw;
} */

/* .player img{
    height: 150px;
    width: 150px; 
    position:relative;
    top:40px ;
    left: 28%; 
}  */


