body{
    color: aliceblue;
    background: #000;
   
}

.thought{
    
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
}

h1{
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
   
}

#thought-image{
    border: 5px solid white;
    width: 100%;
}

#daenerys{
    width: 40%;
    /* height: 150px; */
    float: left;
    border: 3px solid whitesmoke;
    margin-right: 10px;
    margin-top: 20px;
}
p{
    font-size:x-large;
}
#thought-line{
    color: aquamarine;
}

hr{
    border: 2px solid green;
}